@model ShoppingCart.Models.Cateogary



@{
    ViewData["Title"] = "Details";
}

<h2> @Html.DisplayFor(model => model.Title)</h2>

<table class="table">

    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    <h4> @Html.DisplayFor(modelItem => item.Title)</h4>
                </td>
                <td>
                    <img src=" @Html.DisplayFor(modelItem => item.Imagepath)" height="200" width="150" />
                </td>
                <td>
                    <a asp-action="View" asp-route-id="@item.ProductID">View Product</a>

                </td>

            </tr>
        }
    </tbody>
</table>